
  <h1 class="messing-around">skatepark.co</h1>
  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/posts">Recent Posts</a></li>
        <li class="fork"><a href="{{site.baseurl}}/account">Account</a></li>
        <li class="fork"><a href="{{site.baseurl}}/reviewMaker">Skatepark Rater</a></li>
        <li class="title"><a href="{{site.baseurl}}/chat">Chat</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
        <li class="title"><a href="https://y2kcoders.github.io/y2kpages/blogs">Time Box</a></li>
       <!<li class="title"><a href="https://y2kcoders.github.io/skatepark.co/devbools">new feature coming soon!</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
     