
  <h1 class="messing-around">skatepark.co</h1>
  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/posts">Recent Posts</a></li>
        <li class="fork"><a href="{{site.baseurl}}/account">Account</a></li>
        <li class="fork"><a href="{{site.baseurl}}/review">Skatepark Rater</a></li>
        <li class="title"><a href="{{site.baseurl}}/brand-review">Brand Review</a></li>
        <li class="title"><a href="{{site.baseurl}}/chat-board">Chat Board</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
        <li class="title"><p>hi</p></li>
      </ul>
    </nav>
  </div><!-- end header -->
     